* { --original-theme-background: rgb(245, 252, 178);
    --original-theme-background_a: rgb(246, 251, 195);
    --original-theme-background1: rgb(204, 178, 210);
    --original-theme-background2: rgb(173, 150, 110);
    --original-theme-text: rgb(49, 50, 37);
    --original-theme-text1: rgb(62, 61, 179);
    
}
 body {
  padding: 0; 
  background-color: var(--original-theme-background); 
  box-sizing: border-box;
  
}

.class_heading {
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--original-theme-background_a);
}

main {display: flex;};
aside {flex: 30%};
section {flex: 70%};


.container-search {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  background-color: var(--original-theme-background1);
}

.container-output {
  display: none;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 20%;
  padding-right: 1%;
  background-color: var(--original-theme-background_a);
}

.board {
  border: solid 3px  gray;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card1 {
  flex: 2 0 400;
  padding: 20px;
 /* border: solid 2px gray;
 background-color: var(--original-theme-background); */
  margin-left: 50px;
  margin-right: 50px;
}


.headings {
  color: var(--original-theme-text);
  font-size: 100px;
  text-align: center;
}

.sub-headings {
  color: var(--original-theme-text);
  font-size: 40px;
  text-align: center;
}

h5 {
  color:rgb(49, 50, 37);
  font-size: 20px;
  text-align: center;
}


#sh2 {
  animation: 600s linear 2s infinite normal slowrun;
}

.btn-center {
  display: flex;
  justify-content: space-around;
  }

.btn-center-length > p, button {
  display: flex;
  justify-content: space-around;
  width: 95%;
  border: solid 2px gray;
  margin-left: auto;
  margin-right: auto;
  color: var(--original-theme-background_a);
  background-color: var(--original-theme-background2);
  }

  button:hover {
  opacity: 0.7; 
  color: orangered; 
  }

  
@keyframes slowrun {
	from { transform: translate(50vw); 
			}

	to {   transform: translate(-50vw);
			}
}
	